[Unit]
Description=Local Resource Integration System
After=network.target

[Service]
User=loris
Group=loris
Type=simple
Restart=always
RestartSec=60s
ExecStart=/opt/loris/.venv/bin/loris -c /etc/loris start
WorkingDirectory=/var/opt/loris

[Install]
WantedBy=multi-user.target
