[Unit]
Description=Local Resource Integration System
After=network.target

[Service]
User=lori
Group=lori
Type=simple
Restart=always
RestartSec=60s
ExecStart=/opt/lori/.venv/bin/lori -c /etc/lori start
WorkingDirectory=/var/opt/lori

[Install]
WantedBy=multi-user.target
