/* override accordion style */
.accordion-button:not(.collapsed) {
  color: unset;
  background-color: #f8f9fa;
}
.accordion-button:focus {
  box-shadow: unset;
}
.accordion-button:hover {
  background-color: #f5f5f5;
}
